/Automation/SecurityTestActivities/.vscode
/Automation/SecurityTestActivities/CSharpSelenium/bin
/Automation/SecurityTestActivities/CSharpSelenium/obj
/Automation/Cypress/node_modules
/Automation/SecurityTestActivities/LayeredAcceptanceTests/bin
/Automation/SecurityTestActivities/LayeredAcceptanceTests/obj
/WIP
/Automation/AdventuresInTextAutomation/AiT.WebTest/bin
/Automation/AdventuresInTextAutomation/AiT.WebTest/obj
/Automation/AdventuresInTextAutomation/node_modules
